//*Formatação Geral */
body{
	font-family: "Bowlby One SC", display;
	
}
h1, h2, h3{

	margin: 0;
	font-family: "black Ops One", display;
	font width: 700;
	
 }

 p{
 	font-family: Righteous,"Bowlby One SC";
 }

 /*Formatação cabeçalho ou barra de navegação */
 .logo img{
 	border-radius: 50px;
 	
 }

 nav{

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFF00;
	padding: 15px;
	font-family: "black Ops One", display;

 }

	 nav ul{
	 	list-style: none;
	 	padding: 0;
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	 	width: 100%;
 }

		 nav ul li{
		 	text-align: center;
		 	width: 100%;
		 	font-size: 1.5em;
		 	padding: 2%;
 }

			 nav ul li a{
			 	display: inline-block;
			 	padding: 10px 0;
			 	width: 100%;
			 	text-decoration: none;
			 	color: #4F4F4F;
 }

@media screen and (min-width: 768px){

/*cabeçalho ou barra de navegação*/
nav{
	flex-direction: row;
	justify-content: space-around;
}
	nav ul{
		flex-direction: row;
		width: 70%;



}
