//*Formatação Geral */
body{
	font-family: "Bowlby One SC",display;
	
}
h1, h2, h3{
	margin: 0;
	font-family: "black Ops One",display ;
	font width: 700;
 }

 p{
 	font-family: Righteous,display ;
 }
.container{
	width: 100%
}

 /*Formatação cabeçalho ou barra de navegação */
 .logo img{
 	border-radius: 50px;	
 }

 nav{

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2E2E2E;
	padding: 15px;
	font-family: Righteous,"black Ops One", display;

 }

	 nav ul{
	 	list-style: none;
	 	padding: 0;
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	 	width: 100%;
 }

		 nav ul li{
		 	text-align: center;
		 	width: 100%;
		 	font-size: 1.5em;
		 	padding: 2%;
 }

			 nav ul li a{
			 	display: inline-block;
			 	padding: 10px 0;
			 	width: 100%;
			 	text-decoration: none;
			 	color: #F5F5F5;
 }

 /*header*/

 header{
 	background-image: url('../img/prog.jpeg');
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
 	color: #F5F5F5;
 	display: flex;
 	flex-direction: column;
 	align-items:center; 
 	text-align:center;
 	padding: 30px;
 } 
 header p{
 	margin-bottom: 2em;
 	font-size: 1.7em;
 }
.botao{
	color: #F5F5F5;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #FFD700;
	font-size: .8em;
	border-radius: 20%;
	font-family: Righteous,display;
}

/*sobre*/

#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #2E2E2E;
	color: #F5F5F5;
}
#sobre h2{
	margin-top: 20px;
	font-size: 2em;
}

.foto img{
	width: 50%;
}
.foto{
	float: left;
	width: 50%;
}
.texto{
	float: right;
	width: 50%;
}

/*especialidades*/
#especialidade{
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
	background-color: #D8D8D8;
	border-bottom: groove; 

}
#especialidade div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}
#especialidade p{
	line-height: 1.5;
	margin:2vh;
	font-size: 1.2em;
}
#especialidade img{
	margin:10px 0;
}
#especialidade h2{
	font-size: 2em;

}
/*compentencias*/
#competencias{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #D8D8D8;
	margin: auto;
	padding-bottom: 30px;

}
#competencias h2{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
	width: 90%;
}
#competencias h3, p{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}
#competencias a{
	text-decoration: none;
}
#competencias img{
	width: 70%;
	margin-bottom: 0;
	align-items: center;
	margin-left: 14%;

}

#competencias .comp p{
	border-left: 5px groove  #D0A9F5;
	border-radius: 1%;
	margin-top: 0;
	font-family:  ;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
}

.trab img:hover{
	-ms-transform:rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.trab img{
	border:8px groove #D0A9F5;
}


/*hooby
*/

#hobby {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:20px;
	margin-left: 20px;
	margin-right: 20px;
	margin: 0 auto;
	background-color: #D8D8D8;
	border-top: groove;
}
#hobby h2{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 2em;
	text-align: center;
}
.hobby {
	width: 90%;
	align-items: center;
	text-align: center;
}
.hobby h3{
	font-size: 1.4em;
	margin-top: 20px;
	margin-bottom: 14px;
}
.hobby iframe{
	margin-bottom: 20px;
}
.imgcode {
	width: 80%;
	border:8px groove #D0A9F5;
}
.imgcode:hover{
	-ms-transform:rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
.cod {
	border-top: groove;
}

/*contato*/

#contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: #848484;
}
#contato h2{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
	width: 100%;
	color: #F5F5F5;
}
#contato > p{
	margin-bottom: 20px;
	font-size: 1.2em;
	text-align: center;
	color: #F5F5F5;
}
#contato a{
	text-decoration: none;
	text-align: center;
	font-family: Righteous,display;
	color:#F5F5F5;
}


/*Footer*/

footer{
	text-align: center;
	width: 100%;
	background-color: #2E2E2E;
	color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 20px;
} 





/*para telas de pc*/
@media screen and (min-width: 768px){


/*cabeçalho ou barra de navegação*/
nav{
	flex-direction: row;
	justify-content: space-around;
}
	nav ul{
		flex-direction: row;
		width: 70%;
		}


 /*header*/
header{
	height: 60vh;
	justify-content: center;
	font-size: 1.7em;
}

/*sobre*/

#sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;
}
#sobre h2{
	text-align: center;
	width: 100%;
}
#sobre div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 20px;
}

#especialidade{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1280px;
	margin:0 auto;
}

#especialidade h2{
	text-align: center;
	width: 100%;
}
#especialidade div{
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}

/*competencias */
#competencias {
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}
#competencias h2, h3{
	width: 100%;
	text-align: center;
}
#competencias .comp{
	width: 33.33333333%;
	text-align: center;
}
#competencias .imag{
	align-items: center;
	width: 33%;
}



#hobby .code{
	padding-top: 50px;
}
#hobby .imgcode{
    align-items: center;
	width: 50%;
}

/*contato*/

#contato{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	max-height: 40vh;
	width: 100%;
}

#contato h2,
#contato p {
	width: 100%;
	text-align: center;

}





